.feed {
    flex: 0.6;
    margin: 0 20px;
}

.feed__inputContainer {
    background-color: #fff;
    padding: 10px;
    padding-bottom: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.feed__input {
    border: 1px solid lightgray;
    border-radius: 30px;
    display: flex;
    padding: 10px;
    padding-left: 15px;
    color: gray;
}

.feed__input > input {
    border: none;
    outline: none;
}

.feed__input > form {
    display: flex;
    width: 100%;
}

.feed__input > form > input {
    outline: none;
    border: none;
    flex: 1;
    margin-left: 10px;
    outline-width: 0;
    font-weight: 600;
    color: gray;
}

.feed__input > form > input::placeholder {
    color: gray;
}

.feed__input > form > button {
    display: none;
}

.feed__inputOptions {
    display: flex;
    justify-content: space-between;
    margin: 5px 0;
}

.feed__separator {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.feed__separatorBorder {
    flex: 0.8;
    
}

.feed__separatorBorder hr {
    color: rgb(226, 226, 226);
    width: 95%
}

.feed__separatorSorter {
    display: flex;
    gap: 4px;
    align-items: center;
    flex: 0.2;
    margin-right: -10px;
}

.feed__separatorSorterSortBy {
    font-size: 12px;
    color: gray;
}

.feed__separatorSorterText {
    font-size: 12px;
}
