.inputOption {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
    padding: 10px;
}

.inputOption:hover {
    background: whitesmoke;
    border-radius: 10px;
}

.inputOption h4 {
    font-size: 14px;
    font-weight: 600;
    color: gray;
}